.userIcon {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(128, 161, 144);
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(128, 161, 144);
  color: white;
  margin-right: 25px;
}
.linkLayoutContainer,
.pagesContainer {
  display: flex;
  align-items: center;
}
.linkLayoutContainer {
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.pagesLinks {
  border: 1px solid rgb(128, 161, 144);
  border-radius: 50px;
  display: flex;
}
.pagesLinks a {
  text-decoration: none;
}
.pagesLinks a:active,
.pagesLinks a:focus {
  background-color: rgb(128, 161, 144);
  color: white;
}

.aboutLink {
  padding: 10px 25px;
  border-right: 1px solid rgb(128, 161, 144);
  border-left: 1px solid rgb(128, 161, 144);
}
.contactLink {
  padding: 10px 20px 10px 25px;
}
.homeLink {
  padding: 10px 25px 10px 20px;
}
.homeLink:focus,
.homeLink:hover,
.homeLink:active {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.contactLink:focus,
.contactLink:hover,
.contactLink:active {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.loginContainer button,
.loginContainer a {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid rgb(128, 161, 144);
  color: white;
  background-color: rgb(128, 161, 144);
  text-decoration: none;
  width: 80px;
}

.linkLayoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.userIcon {
  margin-right: 15px;
}

.homeLink,
.aboutLink,
.contactLink {
  text-decoration: none;
  color: rgb(128, 161, 144);
}
.homeLink:hover,
.aboutLink:hover,
.contactLink:hover {
  background-color: rgb(128, 161, 144);
  color: white;
}
.burgerIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.burgerMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  padding-top: 50px;
}

.burgerMenu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0);
}

.burgerLink {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 15px 0;
}

.burgerLink:hover {
  background-color: rgb(128, 161, 144);
}

.burgerButton {
  background: none;
  border: none;
  color: #fff;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burgerIcon {
    display: block;
  }

  .pagesLinks {
    display: none;
  }
  .loginContainer a {
    display: none;
  }
}
