.linkLayoutContainer {
  display: flex;
  justify-content: space-between;
}
.pagesContainer {
  border: 1px solid rgb(128, 161, 144);
  border-radius: 20px;
  padding: 10px;
}
.pagesContainer a {
  text-decoration: none;
}
.aboutLink {
  border-left: 1px solid rgb(128, 161, 144);
  padding: 10px;
  border-right: 1px solid rgb(128, 161, 144);
}
.homeLink {
  padding-right: 10px;
}
.contactLink {
  padding-left: 10px;
}
.homeLink:hover {
  background-color: rgb(128, 161, 144);
}
